
Home page: Doctor's name, photograph
Book: Patient name, mobile number, email, date (Calendar). Amount has to be displayed.
Have a way to display past appointments
Two types for appointments: New, Follow-up. Follow-up within 30 days of new appointment. 
Pay: Payment mode to be decided, Options: PhonePe, Paytm, Tez, instamojo.
Follow up costs lesser than new.
On successful payment, go back to home page, generate a confirmation message and email to patient.
Reminder to the patient after 15 days for a follow up check.
